<% content_for :title, @department.region.name + " " + @department.name %>

<% if @department.dashboards.length > 0 %>

  <div id="dealMessageContainer">
    <h1 id="dealMessage"></h1>
    <div id="background"></div>
  </div>
  
  <h1 class="dashboard-loading">Loading <%= @department.region.name %> <%= @department.name %> dashboards...</h1>
  
  <% @department.dashboards.each do |dashboard| %>
    <iframe src="<%= dashboard.url %>" frameborder="0" class="dashboard-iframe"></iframe>
  <% end %>

  <script>
    var dashboards = $('.dashboard-iframe');
    var numOfDashboards = $('.dashboard-iframe').length - 1;
    var currentItem = 0;
    var delay = 20000;

    $($('.dashboard-iframe')[numOfDashboards]).on('load', function() {

      $((dashboards)[currentItem]).show()

      setInterval(function() {
        $((dashboards)[currentItem]).hide()
        if(currentItem == numOfDashboards) {
          currentItem = 0
        }else {
          currentItem++
        }
        $((dashboards)[currentItem]).show()
      }, delay)
    })
  </script>

<% else %>
  <h1 class="dashboard-loading">
    No dashboards found for <%= @department.region.name %> <%= @department.name %>.
  </h1>
<% end %>

