<%= form_for dashboard do |f| %>

  <% if dashboard.errors.any? %>
    <h5>Can't create dashboard due to the following errors:</h5>
    <ul class="list-group">
      <% dashboard.errors.full_messages.each do |err| %>
        <li class="list-group-item list-group-item-danger"><%= err %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  <div>
  <div class="form-group">
    <%= f.label :url %>
    <%= f.text_field :url, class: "form-control" %>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
        <%= f.submit "Create Dashboard", :class => "btn btn-primary" %>
      </div>
      <div class="col-md-6 text-right">
        <%= link_to 'Cancel', dashboards_path, class: 'text-right btn btn-default'%>
      </div>
    </div>
  </div>
<% end %>
