<%= form_for dashboard do |f| %>

  <% if dashboard.errors.any? %>
    <h5>Can't create dashboard due to the following errors:</h5>
    <ul class="list-group">
      <% dashboard.errors.full_messages.each do |err| %>
        <li class="list-group-item list-group-item-danger"><%= err %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-group">
    <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
  </div>
  <div class="form-group">
    <%= f.text_field :url, class: "form-control", placeholder: "URL" %>
  </div>
  <div class="form-group">
    <% regions_array = Region.all.map { |region| [region.name, region.id] } %>
    <%= select_tag(:region, options_for_select(regions_array), { :class => "form-control", :id => "regionSelect" }) %>
  </div>
  <div class="form-group">
    <% departments_array = Department.all.map { |department| [department.name, department.id, { "data-region-id" => department.region_id}] } %>
    <%= f.select(:department_id, options_for_select(departments_array), {}, { :class => "form-control", :id => "departmentSelect" }) %>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-6">
        <%= f.submit "Submit", :class => "btn btn-primary" %>
      </div>
      <div class="col-md-6 text-right">
        <%= link_to 'Cancel', dashboards_path, class: 'text-right btn btn-default'%>
      </div>
    </div>
  </div>
<% end %>

<script>

  let allOptions = $('#departmentSelect').children()

  $('#departmentSelect').hide()
  setDepartments()

  $('#regionSelect').change(function() {
    setDepartments()
  })

  function getDepartmentsForRegion(id) {
    let newDepartments = [];
    $(allOptions).each(function(index, department) {
      if($(department).data('region-id') == id) {
        newDepartments.push(department)
      }
    })
    return newDepartments;
  }

  function setDepartments() {
    let selectedRegionId = $('#regionSelect').find(":selected").val()
    let newDepartments = getDepartmentsForRegion(selectedRegionId)
    $('#departmentSelect').empty().append(newDepartments)
    $('#departmentSelect').show()
  }

</script>
