<div class="row dashboards-header">
  <div class="col-md-6">
    <h3>Dashboards</h3>
  </div>
  <div class="col-md-6 text-right">
    <%= link_to 'Back to homepage', root_path, class: 'btn btn-default' %>
    <%= link_to 'New Dashboard', new_dashboard_path, class: 'btn btn-success' %>
  </div>
</div>

<% if flash[:notice] %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success text-center" id="flash">
        <%= flash[:notice] %>
      </div>
    </div>
  </div>
<% end %>

<% @departments.each do |department| %>
  <% if department.dashboards.count > 0 %>
    <div class="dashboard-listing">
      <%= link_to department_path(department) do %>
        <h4><%= department.region.name %> <%= department.name %></h4>
      <% end %>
      <hr>
      <% department.dashboards.each do |dashboard| %>
        <h5><%= dashboard.name %></h5>
        <p><%= link_to dashboard.url, dashboard.url, target: "_blank" %> <span class="glyphicon glyphicon-new-window"></p>
        <%= link_to 'Edit', edit_dashboard_path(dashboard), class: 'btn btn-primary' %>
        <%= link_to 'Delete', dashboard_path(dashboard), 
                              data: {:confirm => 'Are you sure?'}, 
                              :method => :delete, class: 'btn btn-danger' %>
        <hr>
      <% end %>
    </div>
  <% end %>
<% end %>