<div class="row dashboards-header">
  <div class="col-md-6">
    <h3>Dashboards</h3>
  </div>
  <div class="col-md-6 text-right">
    <%= link_to 'New Dashboard', new_dashboard_path, class: 'btn btn-success' %>
  </div>
</div>

<% @dashboards.each do |d| %>
  <h5>
    <%= d.name %> 
    <%= link_to department_path(d.department) do %>
      <span class="badge"><%= d.department.name %></span>
    <% end %>
  </h5>
  <p><%= link_to d.url, d.url, target: "_blank" %> <span class="glyphicon glyphicon-new-window"></p>
  <%= link_to 'Edit', edit_dashboard_path(d), class: 'btn btn-primary' %>
  <%= link_to 'Delete', dashboard_path(d), 
                        data: {:confirm => 'Are you sure?'}, 
                        :method => :delete, class: 'btn btn-danger' %>
  <hr>
<% end %>